 <!DOCTYPE html>
 <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
      <title>CORONA TRACKER</title>
      <link rel="stylesheet" href="css/index.css">
   </head>
    <body>
      <h1 class="head"><u>Live Covid-19 Tracker</u></h1>
      <div class="note ">
        <h3>While viewing on mobile , Please view map in full screen mode or landscape mode,
         for better and perfect experience.</h3>
      </div>
     <div id='map' ></div>
     <footer><div class="footer-text">© 2020 by KHUSH AGRAWAL </div></footer>
    </body>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>

 <script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYWtodXNoIiwiYSI6ImNrYnltYTl4bjExOXcydGxnaWJiamNycHAifQ.y5H9SM9hGi-vIfeH2OxwaA';

  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/dark-v10',
  zoom:2,

   });
   map.scrollZoom.disable();
   map.addControl(new mapboxgl.FullscreenControl());
  </script>

 <script src="js/index.js"></script>

 </html>
