.head
{
  text-align: center;
  font-family: serif;
  font-size: 40px;
  background-color: #abc2e8;
  color: #1b6ca8;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.note
{
  text-align: center;
  background-color: #ff847c;
  font-family: serif;
  font-size: 25px;
  color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
#map
{
  width: 70vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 50px;
}
  footer
  {
    background-color: #f3c623;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: auto;
    bottom: 0;
    position:sticky;
  }
  .footer-text
  {
    padding: 10px;
    text-align: center;
  }

 .table
 {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }
 .table th
 {
     padding: 10px;
     border: 3px solid #654062;
     position:sticky; // this is for all Safari (Desktop & iOS), not for Chrome
     position: sticky;
     top: 0;
     z-index: 5;
     background: #204051;
     color: white;
 }
 .table td
{
  border: 2px solid #204051;
  background: #84a9ac;

}
  @media only screen and (max-width:768px)
  {
    .head
    {
      text-align: center;
      font-family: serif;
      font-size: 30px;
      background-color: #abc2e8;
      color: #1b6ca8;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 20px;
    }
    .note
    {
      text-align: center;
      font-size: 15px;
      background-color: #ff847c;

      color: white;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
    #map
    {
      width: 70vw;
      height: 50vh;
      margin-left: auto;
      margin-right: auto;
      border: 2px solid black;
      border-radius: 20px;
      margin-bottom: 50px;
    }
    .footer-text
    {
      padding: 10px;
      font-size: 20px;
      text-align: center;
    }
